# Ignore node_modules folder
node_modules/

# Ignore .next folder (Next.js build folder)
.next/

# Ignore Yarn lock file (if you're using npm instead, you can skip this)
yarn.lock

# Ignore npm lock file (if using npm instead of Yarn)
package-lock.json

# Ignore environment variables files
.env
.env.local
.env.development
.env.production
.env.test

# Ignore log files
*.log
